.expense-item {
    background-color: #4b4b4b;
    color: #bb7676;
    min-width: 40rem;
    padding-left: 2rem;
  }

  .expense-item__description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-content: left;
    flex-flow: column-reverse;
    justify-content: flex-start;
    flex: 1;
  }
  .expense-item h2 {

    font-size: 1rem;
    flex: 1;
    margin: 0 1rem;
    color: white;
  }
  
  .expense-item__price {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #40005d;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 12px;
  }
  
  @media (min-width: 580px) {
    .expense-item__description {
      flex-direction: row;
      align-items: left;
      text-align: left;
      justify-content: flex-start;
      flex: 1;
    }
  }